body {
	padding-top:20px;
	
}
.row {
	
	justify-content: center;

}

#forma {
	margin-top:10%;
	/*background-image: url("img/Foto3.jpg");  The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
 
}

	