<!-- <div *ngIf="sorteo">
  <div >
  <div class="card" style="width: 18rem;  text-align: center;"  >
    <div class="card-body" >
      <h4 class="card-title">{{sorteo.premio}}</h4>
      <h5 class="card-text">{{sorteo.score}} PUNTOS !</h5>
    </div>
    <img src="{{sorteo.photo}}" class="card-img-top" alt="...">
    
    
    <ul class="list-group list-group-flush">
      
      <li class="list-group-item">Finaliza: <strong> {{sorteo.fhasta}} </strong></li>
    </ul>
    <div class="card-body card-link btn btn-success" (click)="participate()"> <h4>Participar</h4>
     </div>
  </div>
</div>



<div *ngIf="!sorteo">
  <div class="spinner-border" role="status" aria-disabled="false">
    <span class="sr-only">Loading...</span>
  </div>



</div> -->



  <img class="img-fluid" src="{{sorteo.photo}}" alt="10"> 
      <h5>{{sorteo.premio}} {{sorteo.score}}</h5>
      <h6>SORTEA {{sorteo.fhasta}}</h6>
      <h6>{{sorteo.score}} PUNTOS</h6>             
      <div class="btn btn-success" (click)="participate()"> <h4>Participar</h4></div>
 