
<div *ngIf="sorteo">
  
  
  <div class="card" style="width: 18rem;">
    <img src="{{sorteo.photo}}" class="card-img-top" alt="...">
    
    <div class="card-body">
      <h5 class="card-title">{{sorteo.premio}}</h5>
      <p class="card-text">{{sorteo.score}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Empieza el : {{sorteo.fdesde}}</li>
      <li class="list-group-item">Finaliza el: {{sorteo.fhasta}}</li>
    </ul>
    <div class="card-body">
      <button class="card-link btn btn-info" (click)="participate()">Participar</button>
      <a href="#" class="card-link">Detalles</a>
    </div>
  </div>

</div>

<div *ngIf="!sorteo">
  <div class="spinner-border" role="status" aria-disabled="false">
    <span class="sr-only">Loading...</span>
  </div>

</div>

