<div class="list-group">


  <div *ngIf="showOrganizations">
    <h3>Organizaciones</h3>
    <a *ngFor="let organization of user.organizations"
      class="list-group-item list-group-item-action flex-column align-items-start"
      (click)="loadStores(organization._id)">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{organization.name}}</h5>
        <small>{{organization.stores.length}} Sucursales</small>
      </div>
      <p class="mb-1">CUIT : {{organization.cuit}}</p>
    </a>
  </div>
</div>

<hr>
<hr>

<div *ngIf="showStores" id="stores" class="list-group">
  <h3>Sucursales de : {{organizationSelected.name}}</h3>
  <ul class="list-group" *ngFor="let store of organizationSelected.stores">
    <a (click)="loadDraws()" class="btn list-group-item d-flex justify-content-between align-items-center ">
      {{store.name}}
      <span class="badge badge-primary badge-pill">Sorteos activos : {{store.draws.length}}</span>
    </a>
  </ul>
  <hr>

  <div *ngIf="showDraws">
  <app-lista-sorteos></app-lista-sorteos>
</div>

  <button class="btn btn-info" (click)="goBackOrganizations()">Volver a organizaciones</button>
  <hr>
  <button class="btn btn-success" (click)="newStore()">Crear sucursal</button>




  <br>
  <hr>
  <div *ngIf="showNewStoreForm" id="formNewStore">
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input [(ngModel)]="store.name" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Direccion</label>
      <input [(ngModel)]="store.address.street" type="text" class="form-control">

      <label for="exampleInputEmail1">Ciudad</label>
      <input [(ngModel)]="store.address.city" type="text" class="form-control">

      <label for="exampleInputEmail1">Localidad</label>
      <input [(ngModel)]="store.address.state" type="text" class="form-control">

      <label for="exampleInputEmail1">Codigo Postal</label>
      <input [(ngModel)]="store.address.postalCode" type="text" class="form-control">

      <label for="exampleInputEmail1">Pais</label>
      <input [(ngModel)]="store.address.country" type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary" (click)="createNewStore(organizationSelected._id)">+ Agregar</button>
  </div>
</div>