<div *ngIf="user">

  <div>
    <a class="btn btn-warning" data-toggle="collapse" href="#collapseExample" aria-controls="collapseExample">
      Registrar Organizacion
    </a>


    <div class="collapse" id="collapseExample">
      <div class="card card-body">
   
          <div class="form-group">
            <label for="exampleInputEmail1" >CUIT</label>
            <input [(ngModel)]="organization.cuit" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required="true">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nombre de Organizacion</label>
            <input [(ngModel)]="organization.name" type="text" class="form-control" id="exampleInputPassword1" required="true">
          </div>
          <button class="btn btn-primary" type="submit" (click)="registerOrganization()">Registrarme</button>
       
      </div>
    </div>


    <hr>
    <div class="" style="width: 18rem;">
      <div class="card">
        <img src="{{user.photo}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Mail: {{user.email}}</li>
          <li class="list-group-item">Pais: {{user.country}}</li>
          <li class="list-group-item">Nacimiento: {{user.dateOfBirth}}</li>
          <li class="list-group-item">Contacto: {{user.phone}}</li>
          <li class="list-group-item">Acepto Condiciones: {{user.conditions}}</li>

        </ul>
        <div class="card-body">
          <button class="btn btn-info">Editar Perfil</button>

          <button class="btn btn-danger">Cerrar Sesion</button>
        </div>
      </div>
      <div class="card">
        <li class="list-group-item">Puntos <h2>{{user.score}}</h2>
        </li>
      </div>

    </div>
  </div>