<video autoplay muted loop id="myVideo">
  <source src="assets/video/video1.mp4" type="video/mp4" >
</video>

<div *ngIf="showRoles" class="  container" style="width: 50rem;">
    <div *ngFor="let role of roles" style="text-align: center;">
      <li  class="alert alert-primary btn btn-primary" (click)="selectRole(role._id)" > {{role.description}} </li>
    </div>
</div>


<div  *ngIf="showSignUpForm" class="container">
<div class="row">
  <div class="col">
    <!-- USER PASSWORD  -->
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="inputEmail4">Email</label>
        <input [(ngModel)]="user.email" type="email" class="form-control" >
      </div>
      <div class="form-group col-md-3">
        <label for="inputPassword4">Password</label>
        <input [(ngModel)]="user.password" type="password" class="form-control">
      </div>
    </div>
      
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Nombre</label>
          <input [(ngModel)]="user.firstName" name="first" class="form-control" >
        </div>
        <div class="form-group col-md-3">
          <label for="inputPassword4">Apellido</label>
          <input [(ngModel)]="user.lastName" type="text" class="form-control"" >
        </div>
        <div class="form-group col-md-2">
          <label for="inputAddress">Telefono</label>
          <input [(ngModel)]="user.phone" type="text" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <label for="inputAddress">Fecha nacimiento</label>
          <input [(ngModel)]="user.dateOfBirth" type="date" class="form-control" >
        </div>
      </div>

     
      
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputEmail4">Direccion</label>
          <input [(ngModel)]="user.address.street" type="address" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <label for="inputPassword4">Localidad</label>
          <input [(ngModel)]="user.address.city" type="city" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <label for="inputPassword4">Estado/Pais</label>
          <input [(ngModel)]="user.address.state" type="contry" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <label for="inputPassword4">Codigo Postal</label>
          <input [(ngModel)]="user.address.zip" type="password" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <label for="inputAddress">Pais</label>
          <input [(ngModel)]="user.country" type="text" class="form-control">
        </div>
        
      </div>
      
      <div class="form-group">
        <label for="inputAddress">Foto  ></label>
        <input type="file"  class = "btn btn-success" (change)="onFileSelected($event)">
      </div>

      

      <div class="form-group col-md-2">
        <label for="inputAddress">Condiciones</label>
        <input [(ngModel)]="user.conditions" type="Checkbox" class="form-control" >
      </div>

      
      <button class="btn btn-primary" (click)="signUp()">Registrarse</button>
      <button class="btn btn-info" (click)="changeUser()">Cambiar Usuario</button>
  </div></div>