
img {
    width: 160px;
    height: 160px;

} 
 

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    position: fixed;
    height: 100%;
    max-height: calc(111vh - 8rem);
      overflow-y: auto;
 
}

.Organizacion {
    background: rgb(6, 41, 87);
    color: #fff;
}

.Participante { 
    background: rgb(60, 105, 226);
    color: #fff;
}

.Validador{
    background: rgb(78, 59, 185);
    color: #fff;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: gray;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #478b4d;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color:rgb(30, 99, 189);
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: rgb(24, 79, 150);;
}
